# Chave do Gemini (processamento de texto e LLM)
GEMINI_API_KEY=chave_api

# Chave do Groq (transcrição de áudio)
GROK_API_KEY=chave_api

# Chave da ElevenLabs (geração de áudio)
ELEVENLABS_API_KEY=chave_api